<footer>
	<div class="footer-bottom text-center" style="background-color: white;bottom: 0;height: 5px;">
	<div class="container">
		<div class="footer-logo">
			<a href="index.html"><span style="color: black;">V</span><span style="color: gray;">enue</span></a>
		</div>
		<div class="copyrights">
			<p> © 2021 Venue. All Rights Reserved | Design by Man Patel</a></p><hr>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</footer>
<!--footer section end-->
</body>
</html>